<div class="card-columns mt-5">
    <div class="card" *ngFor="let item of items">
      <img [src]="item.images | noImage" class="card-img-top puntero" alt="{{item.id}}" (click) = "viewPageArtist(item)">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text"><span *ngFor="let artist of item.artists" class="badge badge-info">{{artist.name}}</span></p>
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <p class="blockquote-footer">release: <cite title="Source Title">{{ item.release_date | date: 'd MMMM y'}}</cite></p>
      </div>
    </div>
  </div>


  <nav aria-label="..." class="mt-5 text-center nav-block">
      <ul class="pagination justify-content-center" width="100%">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
  </nav>